@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333333;
}

body{
    background-color: rgb(254, 254, 254);
    font-family: 'Noto Sans JP', sans-serif;
    
}




.body_left{
    padding-left: 10vw;
}
.body_right{
    padding-right: 10vw;
}

h3{
    color: #333333;
    text-decoration: none;
}

a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: rgb(143, 54, 22);
}
.T12px{
    font-size: 12px;
}
.T14px{
    font-size: 14px;
}
.T18px{
    font-size: 18px;
}
.T24px{
    font-size: 24px;
}

.black{
    color: #333333;
}
.gray{
    color: #777777;
}
.lightgray{
    color: #aaaaaa;
}
.deepgray{
    color: #666666;
}

.pad_20{
    padding-left: 20px;
}

.border_bottom{
    border-bottom: 1px solid #ececec;
}
.border_top{
    border-top: 1px solid #ececec;
}

.mairgin_right5vw{
    margin-right: 10vw;
}

.mairgin_top5{
    margin-top: 5px;
}
.mairgin_top40{
    margin-top: 50px;
}

.back_gray{
    background-color: #eaeaea;
}

.text_underline {
    text-decoration: underline; /* カスタムの下線スタイルを定義 */
    text-decoration-color: #aaaaaa; /* 下線の色を青に指定 */
    text-decoration-thickness: 4px;
  }

.border1{
    border: 1px solid #cbcbcb;
    border-radius:25px;
}
  

/****************************************************************/
.container_delete{
    margin-top: 6vh;
    display: flex;
    justify-content: flex-end;
}
.item_delete{
    margin: 0 6vw 0 0;
    padding: 3px 10px 3px 10px;
    border: 1px solid #cbcbcb;
    border-radius:25px;
}

@media screen and (min-width: 768px) {
    .form{
        margin: 6vh 25% 0 25%;
        width: 50%;
    }
    .form input[type="text"] {
        width: 93%; /* 好きな幅を設定 */
    }
    .form textarea {
        width: 93%; /* 好きな幅を設定 */
    }

    .field{
        margin-bottom: 20px;    
    }
    .field:hover{
        background-color: rgb(237, 237, 237);
    }
    
    .label_tag{
        font-weight: 700;
    }
    
    .input{
        margin-left: 5%;
    }
    
    .errors{
    
    }

    .container_submit{
        display: flex;
        justify-content: flex-end;
    }

    .item_submit{
        width: 60px;
        height: 30px;
        background-color: #656565;
        border: 1px solid #474747;
        border-radius:25px;
        margin-right: 5%;

        color: white;
        
    }
}
@media screen and (max-width: 767px) {
    .form{
        margin: 6vh 5% 0 5%;
        width: 90%;
    }
    .form input[type="text"] {
        width: 93%; /* 好きな幅を設定 */
    }
    .form textarea {
        width: 93%; /* 好きな幅を設定 */
    }

    .field{
        margin-bottom: 20px;    
    }
    .field:hover{
        background-color: rgb(237, 237, 237);
    }
    
    .label_tag{
        font-weight: 700;
    }
    
    .input{
        margin-left: 5%;
    }
    
    .errors{
    
    }

    .container_submit{
        display: flex;
        justify-content: flex-end;
    }

    .item_submit{
        width: 60px;
        height: 30px;
        background-color: #656565;
        border: 1px solid #474747;
        border-radius:25px;
        margin-right: 5%;

        color: white;
        
    }
}

/**************************************/

.container_hintbtn{
    position: relative;
    left: 10px;
    top: 3px;
    width: 15px;
    height: 15px;
    background-color: #a0a0a0;
    border: 1px solid #7c7c7c;
    border-radius:25px;
    display: grid;
    align-items: center;
    text-align: center;
    
}
.item_hintbtn{
    line-height: 0;
    color: white;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    width: 90%; 
    height: 90%;
    overflow: scroll;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #f5f5f5;
    z-index: 1001;

    display: grid;
    align-items: center;

  }


  .container_explanation{
    margin: 5vh 0 0 10%;
    padding-top: 5vh;
    width: 80%;
  }
.item_explanation1{
    font-size: 20px;
    margin-bottom: 20px;
}
.item_explanation2{
    font-size: 16px;
    margin: 20px 0 20px 0;
}

.image{
    width: 100%;
    max-width: 600px;
}
