@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333333;
}

body{
    background-color: rgb(254, 254, 254);
    font-family: 'Noto Sans JP', sans-serif;
    
}




.body_left{
    padding-left: 10vw;
}
.body_right{
    padding-right: 10vw;
}
/*************************************/

h3{
    color: #333333;
    white-space: pre-wrap;
    word-wrap: break-word;
}
p{
    color: #333333;
    white-space: pre-wrap;
    word-wrap: break-word;
}

a{
    color: #333333;
    text-decoration: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
a:hover{
    color: #871717;
}

.T12px{
    font-size: 12px;
}
.T14px{
    font-size: 14px;
}
.T18px{
    font-size: 18px;
}
.T20px{
    font-size: 20px;
}
.T24px{
    font-size: 24px;
}

.black{
    color: #333333;
}
.gray{
    color: #777777;
}
.lightgray{
    color: #aaaaaa;
}
.deepgray{
    color: #666666;
}

.pad_20{
    padding-left: 20px;
}

.bgcolor{
    background-color: aquamarine;
}


.one_line_text{
    white-space: nowrap; /* テキストを改行せずに一行で表示 */
    overflow: hidden; /* コンテンツをはみ出た部分を隠す */
    text-overflow: ellipsis; /* 折り返した場合に「...」で省略する */
}

/****************************************************************/


@media screen and (min-width: 768px) {
    .form{
        margin: 6vh 25% 0 25%;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .alert{
        width: 70%; 
    }

    .item_delete{
        margin: 0 6vw 0 0;
        padding: 3px 10px 3px 10px;
        border: 1px solid #cbcbcb;
        border-radius:25px;
    }
}
@media screen and (max-width: 767px) {
    .form{
        margin: 6vh 5% 0 5%;
        width: 90%;
    }

    .container_delete{
        margin-top: 6vh;
        display: flex;
        justify-content: flex-end;
    }
    .item_delete{
        margin: 0 6vw 0 0;
        padding: 3px 10px 3px 10px;
        border: 1px solid #cbcbcb;
        border-radius:25px;
    }
}
/***********************************/

