@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 0vw;
}



@media screen and (min-width: 768px) {
    header{
        background-color: rgb(255, 255, 255);
        position:fixed;
        width: 100vw;
        height: calc(90px + 6vh);
        z-index: 100;
        top: 0px;
    
        border-bottom: 1px solid #ececec;
    }
}
@media screen and (max-width: 767px) {
    header{
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: calc(90px + 6vh);
        top: 0px;
    
        border-bottom: 1px solid #ececec;
    }
}

/*--------------------------------------------------------*/


h3{
    color: #333333;
    white-space: pre-wrap;
    word-wrap: break-word;
}
p{
    color: #333333;
    white-space: pre-wrap;
    word-wrap: break-word;
}

a{
    color: #333333;
    text-decoration: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}
a:hover{
    color: #871717;
}

.T12px{
    font-size: 12px;
}
.T14px{
    font-size: 14px;
}
.T18px{
    font-size: 18px;
}
.T20px{
    font-size: 20px;
}
.T24px{
    font-size: 24px;
}

.black{
    color: #333333;
}
.gray{
    color: #777777;
}
.lightgray{
    color: #aaaaaa;
}
.deepgray{
    color: #666666;
}

.pad_20{
    padding-left: 20px;
}

.bgcolor{
    background-color: aquamarine;
}


.one_line_text{
    white-space: nowrap; /* テキストを改行せずに一行で表示 */
    overflow: hidden; /* コンテンツをはみ出た部分を隠す */
    text-overflow: ellipsis; /* 折り返した場合に「...」で省略する */
}

/*----------------------------------------------------------------------*/
.container_head_button0{
    height: 20px;
    margin: 6vh 3vw 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_head_button1{
    width: 262px;
    display: flex;
    justify-content: space-between;
}

.sitehome{
    margin-right: 5px;
}



/************************************************/

@media screen and (min-width: 768px) {
    .container_title_like{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3vw;
        height: 60px;

    }
}
@media screen and (max-width: 767px) {
    .container_title_like{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 3vw 10px 0;
        height: 60px;

    }
}


@media screen and (min-width: 501px) {
    
    .like1{
        margin-left: 20px;
        border: 1px solid #cbcbcb;
        border-radius:25px;
        padding: 3px 10px 3px 10px;
    }
    .like2-1{
        display: none;
    }
    .like2-2{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .like1{
        display: none;
    }
    .like2-1{
        position: fixed;
        width: 50px;
        height: 50px;
        box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.5);
        border-radius: 30px;
        z-index: 100;
        top: 90vh;
        left: calc(100vw - 70px);
        background-color: #cdbfbf;
        display: grid;
        align-items: center;
        text-align: center;
        color: #871717;
    }
    .like2-2{
        position: fixed;
        width: 50px;
        height: 50px;
        box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.5);
        border-radius: 30px;
        z-index: 100;
        top: 90vh;
        left: calc(100vw - 70px);
        background-color: #efefef;
        display: grid;
        align-items: center;
        text-align: center;
        color: #871717;
        font-weight: 600;
    }
}



.container_title{
    margin-left: 3vw;
    display: flex;
    align-items: center;

}
.icon_title{
    margin-left: 3vw;
    background-color: aqua;
}

.icon_image{
    text-align:center;
    outline: 1px solid #eeeeee;
    border-radius:5px 5px 5px 5px;
    width: 35px;
    height: 35px;
    position: relative;
    top: 3px;
    background-color: #eeeeee;
    margin-right: 10px;
}
.item_title{
    max-width: 65vw;
    padding: 0;
    font-size: calc(15px + 100vw/200);
}
.item_edit{
    padding: 3px 10px 3px 10px;
    border: 1px solid #cbcbcb;
    border-radius:25px;
}

@media screen and (min-width: 768px) {
    .edit_delete_btn{
        display: flex;
    }
}
@media screen and (max-width: 767px) {
    .edit_delete_btn{
        display: flex;
        flex-direction: column;
    }
}

/**********************************************/


@media screen and (min-width: 768px) {
    main_body{
        display: flex;
        position: fixed;
        position: absolute;
        top: calc(90px + 6vh);
    }
}
@media screen and (max-width: 767px) {
    main_body{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(90px + 6vh);
    }
}




@media screen and (min-width: 768px) {
    .left{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 55vw;
        height: calc(100vh - 105px);
        overflow: scroll;
    
    }
    .right{
        padding-top: 20px;
        position: relative;
        overflow: hidden;
        width: 45vw;
        height: calc(100vh - 105px);
        overflow: scroll;
    }
    
    
    .resizer {
        background-color: #e0e0e0;
        width: 100%;
        height: 15px;
        display: flex;
      }
    
    .handle{
        cursor: ew-resize;
        z-index: 100;
        position: relative;
        left: calc(55vw - 10px);
        border-top: 16px solid #bcaba8;
        border-right: 10px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 10px solid transparent;
    
      }
}
@media screen and (max-width: 767px) {
    .left{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        height: calc(80vh - 105px);
        overflow: scroll;
    
    }
    .right{
        padding-top: 20px;
        position: relative;
        width: 100vw;
        overflow-x: hidden;
    }
}

  /******************************************************/


  @media screen and (min-width: 501px) {
    .container_content_edit_delete{
        display: flex;
    }
    .content{
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 500px) {
    .container_content_edit_delete{
        width: 140vw;
        display: flex;
        justify-content: space-between;
    }
    .content{
        width: 60%;
        padding-top: 5%;
        padding-bottom: 5px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.content:hover{
    background-color: #f6f6f6;
}


.c0{
    width: 100%;
    font-size: calc(20px + 100vw/180);
    font-weight: 600;

}

  .c1{
    width: 100%;
  }

  .c2{
    width: 100%;
  }
  .c2_title{
    font-size: 18px;
    font-weight: 600;
  }
  .c2_text{
    margin-left: 20px;
  }

  .update_delete_btn{
    flex: 1;
    display: flex;
    position: relative;
    width: 40px;
  }

  .edit{
    width:100%;
    background-color: #f1f1f1;
    display: grid;
    align-items: center;
    text-align: center;
  }


  /*********************************************/
  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
  }
  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }
  .popup-inner {
    width: 100%; 
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 10px 10px 30px;
    background-color: #f5f5f5;
    z-index: 1001;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .bg-black {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#666666;
    z-index: 101;
    cursor: pointer;
  }

.btn{
    font-size: 24px;
    color: #b0b0b0;
    background-color: #f5f5f5;
    line-height: 25px;
    height: 25px;
}

.last_btn{
    font-size: 24px;
    color: #b0b0b0;
    background-color: #f5f5f5;
    line-height: 25px;
    height: 25px;
    margin-bottom: 300px;
}

.content_create{
    margin: 5px 0 5px 0;
    margin-top: 100px;
    height: 30px;
}

/*****************************************/
.blank{
    height:100px;
}