@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333333;
}

body{
    background-color: rgb(254, 254, 254);
    font-family: 'Noto Sans JP', sans-serif;
    
}




.body_left{
    padding-left: 10vw;
}
.body_right{
    padding-right: 10vw;
}

h3{
    color: #333333;
    text-decoration: none;
}

a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    color: rgb(143, 54, 22);
}
.T12px{
    font-size: 12px;
}
.T14px{
    font-size: 14px;
}
.T18px{
    font-size: 18px;
}
.T24px{
    font-size: 24px;
}

.black{
    color: #333333;
}
.gray{
    color: #777777;
}
.lightgray{
    color: #aaaaaa;
}
.deepgray{
    color: #666666;
}

.pad_20{
    padding-left: 20px;
}

.border_bottom{
    border-bottom: 1px solid #ececec;
}
.border_top{
    border-top: 1px solid #ececec;
}

.mairgin_right5vw{
    margin-right: 10vw;
}

.mairgin_top5{
    margin-top: 5px;
}
.mairgin_top40{
    margin-top: 50px;
}

.back_gray{
    background-color: #eaeaea;
}

.text_underline {
    text-decoration: underline; /* カスタムの下線スタイルを定義 */
    text-decoration-color: #aaaaaa; /* 下線の色を青に指定 */
    text-decoration-thickness: 4px;
  }

.border1{
    border: 1px solid #cbcbcb;
    border-radius:25px;
    
}
  

/****************************************************************/
.container_head_button1-0{
    height: 20px;
    padding-top: 3vh;
    margin: 3vh 3vw 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_head_button1-1{
    width: 170px;
    display: flex;
    justify-content: space-between;
}





.container_title{
    text-align:center;
    position:relative; 
    padding-top: 190px;
    
}

.item_title{
    color: black;

}

.container_search{
    display: flex;
    flex-direction: column;
    align-items: center; 

}

@media screen and (min-width: 768px) {
    .search {
        border: 1px solid #cbcbcb;
        border-radius:25px;
        outline: none;
        height:35px;
        width: 50vw;
        padding-left: 20px;
    }
    .button{
        font-size: 18px;
        background: none;
        border: none;
        position:relative; 
        left: calc(25vw - 15px);
        bottom: 32px;
        color: #c9c9c9;
    }

    .site_create{
        text-align:right;
    }
    
    .create_button{
        position: relative;
        bottom:25px;
        right:25vw;
        font-size: 14px;
    }
  }
  

  @media screen and (max-width: 767px) {
    .search {
        border: 1px solid #cbcbcb;
        border-radius:25px;
        outline: none;
        height:35px;
        width: 90vw;

    }
    .button{
        font-size: 18px;
        background: none;
        border: none;
        position:relative; 
        left: calc(45vw - 25px);
        bottom: 32px;
        color: #c9c9c9;
    }

    .site_create{
        text-align:right;
    }
    
    .create_button{
        position: relative;
        bottom:25px;
        right:5vw;
        font-size: 14px;
        
    }
  }


.search:focus{
    border: 1px solid #9b9a9a;
    
}

/*********************************************/

.container_site_list1-0{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .container_list_title{
        display: none;
    }
    .list_title1{
        margin-top:40px;
    }
    .list_title2{
        margin-top: 40px;
    }
    .container_site_list1-1{
        width: 35vw;
    }
    .container_site_list1-2{
        width: 35vw;
    }
    .item_site_list{
        padding: 0 0 0 0;
        margin: 50px 0 50px 0;

    }
    .site_icon_title{
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 767px) {
    .list_title1{
        display: none;
    }
    .list_title2{
        display: none;
    }

    .container_list_title{
        display: flex;
    }
    .list_title_a{
        color: #777777;
        margin: 20px 10px 20px 0;
        padding: 5px 8px 5px 8px;
        border: 1px solid #cbcbcb;
        border-radius:25px;
    }
    .list_title_b{
        color: #aaaaaa;
        margin: 20px 10px 20px 0;
        padding: 5px 8px 5px 8px;
        border: 1px solid #cbcbcb;
        border-radius:25px;
    }
    .container_site_list1-1{
        display: block;
        width: 100vw;
        background-color: #f8f8f8;
    }
    .container_site_list1-2{
        display: none;
        width: 100vw;
        background-color: #f8f8f8;
    }
    .item_site_list{
        padding: 25px 10vw 15px 10vw;
        margin: 0 0 5px 0;
        background-color: white;
    }
    .site_icon_title{
        display: flex;
        align-items: center;
    }
}
.blank{
    height: 100px;
    background-color: white;
}


.site_icon_title{
    display: flex;
    align-items: center;
}
.icon_image{
    text-align:center;
    outline: 1px solid #eeeeee;
    border-radius:5px 5px 5px 5px;
    width: 45px;
    height: 45px;

    background-color: #eeeeee;
}
.relation_top20{
    position: relative;
    top:10px;
}
.site_title_container{
    height:45px;
    display:table;
    width: 90%;
    margin-left: 20px;
}
.site_title{
    font-weight: 700;
    display:table-cell;
    vertical-align:middle;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 制限したい行数が2の場合 */
    overflow: hidden;
    
}

#osusume{
    padding-top: 100px;
    padding-bottom: 35px;

}

#site_expla{

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 制限したい行数が3の場合 */
    overflow: hidden;
}




/***********************************************************************/




.container_title_head_button{
    height: 20px;
    padding-top: 3vh;
    margin: 3vh 3vw 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container_head_button2{
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.item_title2{
    font-weight: 1000;
    height: 30px;
}

.container_search2{
    display: flex;
    margin-top: 10px;

}

@media screen and (min-width: 768px) {
    .container_search2{
        display: flex;
        margin-top: 10px;
    
    }
    .search2{
        border: 1px solid #cbcbcb;
        border-radius:25px;
        outline: none;
        height:30px;
        width: 32vw;
        padding-left: 20px;
        position:relative;  
    }

}
@media screen and (max-width: 767px) {
    .container_search2{
        display: flex;
        margin-top: 20px;
    
    }
    .search2{
        border: 1px solid #cbcbcb;
        border-radius:25px;
        outline: none;
        height:30px;
        width: 80vw;
        padding-left: 20px;
        position:relative; 
    }
}

.search2:focus{
    border: 1px solid #9b9a9a;
    
}
.button2{
    background: none;
    border: none;
    position:relative; 
    right: 42px;
    top:2px;
    color: #c9c9c9;
}


@media screen and (min-width: 768px) {
    .createbutton2-1{
        height: 18px;
        width: 120px;
        position: relative;
        left: calc(32vw - 85px);
    }

    .createbutton2-2{
        display: none;
    }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
    .createbutton2-1{
        width: 120px;
        height: 30px;
        position: relative;
        left: calc(80vw - 95px);
    }

    .createbutton2-2{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .createbutton2-1{
        display: none;
    }

    .createbutton2-2{
        position: fixed;
        width: 50px;
        height: 50px;
        box-shadow: 0px 2px 5px rgba(70, 70, 70, 0.5);
        border-radius: 30px;
        z-index: 100;
        top: 90vh;
        left: calc(100vw - 70px);
        background-color: #a7a7a7;
        display: grid;
        align-items: center;
        text-align: center;

    }
    .create_text{
        color: white;
        font-size: 20px;
        font-weight: 800;
    }
}

.site_list2{
    margin-top: 3vh;
    width: 35vw;
}




/**********************************************/


main_body{
    display: flex;
}
@media screen and (min-width: 768px) {
    main_body{
        display: flex;
        padding-left: 10vw;
    }
}
@media screen and (max-width: 767px) {
    main_body{
        display: flex;
        flex-direction: column;
    }
}