<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset='UTF-8'>
        <meta name="description" content="mymap共有サイト">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' type="text/css" href = 'login.css'>
        <meta name="viewport" content="width=device-width">
    </head>


    <div class="error_content">
        <h1>Server Error（500）</h1>
        <p>Sorry something went wrong.</p>
    </div>

</html>