<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset='UTF-8'>
        <meta name="description" content="mymap共有サイト">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap" rel="stylesheet">
        <link rel = 'stylesheet' type="text/css" href = "{% static 'content_create.css' %}">
        <meta name="viewport" content="width=device-width">
    </head>


    <form action="" method="POST" enctype="multipart/form-data">


        {%csrf_token%}
        <div class="form">
            {% for field in form %}
                <div class="field">
                    <div class="label_tag">{{ field.label_tag }}</div>
                    <div class="input">{{ field }}</div>
                    <div class="errors" style="background-color: aqua;">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <div class="container_submit"><button type="submit" class="item_submit">送信</button></div>
        </div>
        
    </form>
    

</html>